.card-repo {
    position: relative;
    top: 90px;
}
.a-color{
  color:#4d5356;
}
.ul-padding{
  padding-top: -10px;
}
.list-border {
    border-right: 1px solid;
    padding: 5px;
    border-color: #ddd;
    text-align: center;
}

.list-bord {
    border-right: 1px solid;
    padding: 20px;
    border-color: #ddd;
}

.head-border {
    border-top: 1px solid;
    border-color: #ddd;
}

.table-p {
    height: 50px;
    width: 1520px;
    position: relative;
    left: -15px;
    top: -12px;
}

.report-icon {
    color: #a5a2a2;
}

.panel-body-issues {
    padding-left: 20px;
}

.section {
    position: relative;
    top: 20px;
    left: 20px;
}
