<main role="menubar" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="col-md-14 card-repo ">
        <div class="panel list-group ">
            <div class="list-group-item card">
                <b> Reports</b>
                <div class="btn-group">
                    <a routerLink="../report" class="btn btn-default btn-sm btn-small"> <span class="glyphicon glyphicon-th-large" title="view all available reports"></span> </a>
                    <a href="#" class="btn btn-default btn-sm"><span class="fa fa-star-o" title="View only favourite reports"></span> </a>
                </div>

                <ul class="list-inline pull-right ul-padding" >
                    <li>
                        <a class="btn btn-sm" href="#"> <span class="fa fa-calendar"></span> Calendar</a>
                    </li>
                    <li> <a class="btn btn-sm a-color" href="#" ><span class="glyphicon glyphicon-cog"></span> <b>settings</b></a> </li>
                    <li> <a class="btn btn-sm a-color" href="#" ><span class="glyphicon glyphicon-question-sign"></span> <b>Help</b></a> </li>
                </ul>
            </div>
            <!--contents-->
            <section class="section col-md-10">
                <div class="content">
                    <div class="row">
                        <div class="content panel-body">
                            <form #formReport="ngForm" (ngSubmit)="save(formReport.value)">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Report Category</label>
                                            <input type="text" class="form-control" placeholder="Report Category" [(ngModel)]="category" name="category" required>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Current Date</label>
                                            <input type="date" class="form-control" name="date" [(ngModel)]="date" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="scheduled">Scheduled</label>
                                            <select type="text" class="form-control" placeholder="Report Scheduled" name="schedule" [(ngModel)]="schedule" required>
                                                <option value="">STANDARD</option>
                                                <option value="">PREMIUM</option>
                                                <option value="">CLASSIC</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Report Name</label>
                                            <input type="text" class="form-control" placeholder="Report Name" name="name" [(ngModel)]="name" required>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Classification</label>
                                            <input type="text" class="form-control" placeholder="Report Classification" name="classification" [(ngModel)]="classification" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Report Description</label>
                                            <textarea class="form-control" placeholder="add report content here..." cols="80" rows="8" name="description" [(ngModel)]="description" required></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="">
                                    <button type="submit" class="btn btn-primary btn-fill pull-right" [disabled]="!formReport.form.valid">Save </button>

                                </div>


                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
