<main role="main" class="">
  <div class="nav nav-tabs analyze-head" >
    <ul class="nav nav-pills ">
<!-- SECTION FOR DISPLAYING TRENDS ON THE DASHBOARD  -->
      <li class="dropdown">
        <button  class="btn btn-sm btn-default  dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Diseases <span class="caret"></span>
        </button>
        <ul class="dropdown-menu ">
          <li ><a class="btn  btn-text" (click)="CreateDiseaseChart('STDs')" >STDs</a></li>
          <li ><a class="btn btn-text" (click)="CreateDiseaseChart('Malaria')" >Malaria</a></li>
          <li ><a class=" btn btn-text" (click)="CreateDiseaseChart('Measles')" >Influenza</a></li>
          <li ><a class="btn btn-text" (click)="CreateDiseaseChart('Meningitis')" >Allergies</a></li>
          <li ><a class="btn btn-text" (click)="CreateDiseaseChart('Dysentery')" >Typhoid</a></li>
          <li ><a class="btn btn-text" (click)="CreateDiseaseChart('Tuberculosis')" >Headache</a></li>

        </ul>
      </li>
      <li class="dropdown">
        <button  class="btn btn-sm btn-default  dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Year <span class="caret"></span>
        </button>
        <ul class="dropdown-menu ">
          <li ><a class="btn  btn-text" (click)="CreateDiseaseChart('2016')" >2016</a></li>
          <li ><a class="btn btn-text" (click)="CreateDiseaseChart('2017')" >2017</a></li>
          <li ><a class=" btn btn-text" (click)="CreateDiseaseChart('2018')" >2018</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <!--HANDLES DRAWING OF CHARTS FOR TRENDS  -->
<fusioncharts
  [id] = "chart2"
  [width]="width"
  [height]="height"
  [type]="type"
  [dataFormat]="dataFormat"
  [dataSource]="dataSource">
</fusioncharts>
