.table-member{
  position: relative;
  top: -32px;
  right:86px;
  width:1000px;
}
.row-table {
  cursor: pointer;
  cursor: hand;
}
.row-table:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
  bottom: .1em;
}
.check{
  color: #607D8B;

  display: block;
  text-decoration: none;
  left: .1em;
  top: .1em;
}
.check:hover {
  color: #607D8B;
  top: .1em;
}

.table-dark > th {
  background-color: #c6c8ca;
}


.thead-dark th {
  color: #212529;
  background-color: #b9bbbe;
  border-color: #32383e;
}
