<div class="table-responsive table-member">

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table  table-hover table-dark ">
        <thead class="thead-dark table-bordered">
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Name of member</th>
                <th scope="col">Gender</th>
                <th scope="col">Name of Institution</th>
                <th scope="col">Cover Type</th>
                <th scope="col">Status</th>
                <th scope="col">Check </th>
            </tr>
        </thead>
        <tbody>

            <tr class="row-table" *ngFor="let subscriber of subscriberslist; let i =index" [class.selected]="subscriber.id === selectedId">
                <td>{{i+1}}</td>
                <td>{{subscriber.name}}</td>
                <td>{{subscriber.gender}}</td>
                <td>{{subscriber.college}}</td>
                <td>{{subscriber.cover}}</td>
                <td>{{subscriber.Status}}</td>
                <td>
                    <a class="btn btn-sm btn-infocheck" (click)="View(subscriber.membership_id)"> Check</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>