<section class="section">
    <div class="content" *ngIf="members$ | async as member">
        <div class="row col-md-12">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card  panel-primary">

                                <div class="header panel-heading">

                                    <a class="pull-left  btn btn-info btn-sm back" (click)="Back()"> Back</a>
                                    <h4 class="title text-center" style="color:white;">MEMBER DETAILS</h4>

                                </div>
                                <div class="content panel-body">
                                    <form action="#" method="post">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Member Name</label>
                                                    <input type="text" class="form-control" placeholder="Member Name" value="{{ member.name }}" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Gender</label>
                                                    <input type="text" class="form-control" placeholder="Gender" value="{{ member.gender }}" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Institution</label>
                                                    <input type="email" class="form-control" placeholder="College Name" value="{{ member.college }}" readonly="readonly">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Cover</label>
                                                    <input type="text" class="form-control" placeholder="Cover Type" value="{{member.cover }}" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Membership No</label>
                                                    <input type="text" class="form-control" placeholder="Membership Number" value="{{member.id }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Address</label>
                                                    <input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" disabled>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Date of Birth</label>
                                                    <input type="text" class="form-control" placeholder="Date Of Birth" value="{{member.DOB |date:'fullDate' }}" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Date Joined</label>
                                                    <input type="text" class="form-control" placeholder="Date Joined" value="{{member.date_joined |date:'fullDate'}}" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Current Status</label>
                                                    <input type="text" class="form-control" placeholder="Status" value="{{member.status}}" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="">
                                            <hr>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <hr> More About Contract
                                                <p class="btn  pull-right" type="button" data-toggle="collapse" data-target="#collapseExpand" aria-expanded="false" aria-controls="collapseExpand">
                                                    <span class="glyphicon glyphicon-chevron-down"> </span>
                                                </p>
                                                <div class="collapse" id="collapseExpand">
                                                    <div class="well">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label>Date of Subscription</label>
                                                                    <h4 class="badge "> {{member.date_joined |date:'fullDate'}} </h4>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label>Expiration Date</label>
                                                                    <h4 class="badge ">{{member.expiration_date |date:'fullDate'}}</h4>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label>Contract Duration</label>
                                                                    <h4 class="badge "> 11 months </h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <hr> SERVICES ACQUIRED
                                                <p class="btn  pull-right" type="button" data-toggle="collapse" data-target="#collapseExpand1" aria-expanded="false" aria-controls="collapseExpand1">
                                                    <span class="glyphicon glyphicon-chevron-down"> </span>
                                                </p>
                                                <div class="collapse" id="collapseExpand1">
                                                    <ul class="well">
                                                        <li class="form-group">
                                                            <label>Service Accessed</label>
                                                            <h4 class="badge "> None </h4>
                                                        </li>
                                                        <li class="form-group">
                                                            <label>Service Accessed</label>
                                                            <h4 class="badge "> None </h4>
                                                        </li>
                                                        <li class="form-group">
                                                            <label>Service Accessed</label>
                                                            <h4 class="badge "> None </h4>
                                                        </li>
                                                        <li class="form-group">
                                                            <label>Service Accessed</label>
                                                            <h4 class="badge "> None </h4>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card card-user">
                                <div class="image">

                                </div>
                                <div class="content" *ngIf="members$ | async as member">
                                    <div class="author">
                                        <a href="#">
                                            <img class="avatar border-gray" src="" alt="..." />

                                            <h4 class="title">{{ member.name }}<br />
                                                <small>{{ member.name }}</small>
                                            </h4>
                                        </a>
                                    </div>
                                    <p class="description text-center"> <b>College :</b> {{member.college}} <br>
                                        <br> {{member.Cover}}
                                    </p>
                                    <p align="center"> <a href="#" class="btn btn-primary" role="button">Change </a></p>
                                </div>
                                <hr>
                                <div class="text-center">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>