.analyze-head {
    position: relative;
    top: 74px;
}

.section {
    position: relative;
    top: 120px;
    left: 100px;
}

.form-pos {
    position: relative;
    top: 30px;
    left: 732px;
}

.btn-size {
    padding: 5px 13px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.toolbar-btn {
    font-family: Arial;
    display: inline-block;
    cursor: pointer;
    cursor: hand;
}

.toolbar-btn:hover {
    background-color: #cfd8dc;
    top: .1em;
}

.toolbar-btn:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}