<main role="main" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="nav nav-tabs analyze-head">
        <ul class="nav nav-pills ">
            <li class="btn-group nav nav-tabs ">
                <a role="presentation" class="btn btn-size btn-default toolbar-btn " routerLink="./members" routerLinkActive="active">
                  Alll Members
                </a>
                <a role="presentation" class="btn btn-size btn-default toolbar-btn " routerLink="./subscribe" routerLinkActive="active">
          Subscriptions
        </a>
                <a role="presentation" class="btn btn-size btn-default toolbar-btn" routerLink="./annual_limit" routerLinkActive="active">
          Annual limits
        </a>

            </li>

            <li class=" pull-right ">
                <div class="btn-group ">
                    <button class="btn btn-sm btn-primary">Export</button>
                    <button class="btn btn-sm btn-primary">Analyse </button>
                </div>

            </li>
        </ul>
    </div>

    <section class="section">
        <div class="content">
            <div class="row">

                <div class="col-md-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </section>

</main>