<main role="main" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="nav nav-tabs analyze-head">
      <!--  This section display the navigation tab -->
        <ul class="nav nav-pills ">
            <li class="dropdown">
                <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-map-marker"></span>
          <!--Anavigation tab for analysing by location   -->
          Location <span class="caret"></span>
        </button>
                <div class="dropdown-menu drop">
                  <!--A form that handles the input of the user when he wants to analyse by location  -->
                    <form class="" #formLocation="ngForm" (ngSubmit)="create(formLocation.value)">
                        <div class="input-group input-group-sm dropdown-item">
                          <!--  It get location as the first parameter or variable-->
                          <!-- It takes at least location name for input and location name are separated by commas-->
                            <span class="input-group-addon" id="sizing-addon3">Location</span>
                            <input type="text" class="form-control" placeholder="Place name" aria-describedby="sizing-addon3" name="place" [(ngModel)]="place" required>
                        </div>
                        <div class="input-group input-group-sm dropdown-item">
                          <!--It get the disease name as an input for analysing -->
                          <!-- It works in the same way as the location, one or more disease names -->
                            <span class="input-group-addon" id="sizing-addon">Disease</span>
                            <input type="text" class="form-control" placeholder="Disease" aria-describedby="sizing-addon" name="disease" [(ngModel)]="disease" required>
                        </div>
                        <div class="input-group input-group-sm dropdown-item">
                            <span class="input-group-addon" id="sizing-addonC"> <span class="glyphicon glyphicon-calendar"></span> </span>
                            <!-- The select tag enables users to select the month for which the data should analysed  -->
                            <select class="form-control" aria-describedby="sizing-addonC" name="month" [(ngModel)]="month">
                                <option *ngFor="let month of months"  value="{{month}}">{{month}}</option>
                            </select>
                        </div>
                        <div class="btn-group drop-footer pull-right dropdown-divider">
                          <!-- Cancel to terminate or close the window -->
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                            <!--To confirm and later displaying the results  -->
                            <button type="submit" [disabled]="!formLocation.form.valid" class="btn btn-primary btn-sm">OK</button>
                        </div>
                    </form>
                </div>
            </li>
            <!--  A SECTION TO ANALYSE BY DISEASE OCCURENCE VARIATION IN DIFFERENT AREAS-->
            <li class="dropdown">
                <button class="btn btn-sm btn-default  dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Diseases <span class="caret"></span>
        </button>
        <!-- a list of diseases to analyse by -->
                <ul class="dropdown-menu ">
                    <li><a class="btn  btn-text" (click)="CreateDiseaseChart('STDs')">STDs</a></li>
                    <li><a class="btn btn-text" (click)="CreateDiseaseChart('Malaria')">Malaria</a></li>
                    <li><a class=" btn btn-text" (click)="CreateDiseaseChart('Measles')">Measles</a></li>
                    <li><a class="btn btn-text" (click)="CreateDiseaseChart('Meningitis')">Meningitis</a></li>
                    <li><a class="btn btn-text" (click)="CreateDiseaseChart('Dysentery')">Dysentery</a></li>
                    <li><a class="btn btn-text" (click)="CreateDiseaseChart('Tuberculosis')">Tuberculosis</a></li>
                    <li><a class="btn btn-text" (click)="CreateDiseaseChart('Whooping cough')">Whooping cough</a></li>
                    <li><a class="btn btn-text" (click)="CreateDiseaseChart('High BloodPressure')">High BloodPressure</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-credit-card"></span>
          <!-- A SECTION TO ANALYSE BY COST -->
          Cost <span class="caret"></span>
        </button>
                <ul class="dropdown-menu ">
                  <!-- COMPARE COST IN DIFFERENT YEARS -->
                    <li><a class="btn btn-text" (click)="TreatmentCost()">Treatment Cost per Year</a></li>
                    <!--COST PER COLLEGE WERE UNIMED SERVICES ARE PROVIDED  -->
                    <li><a class="btn btn-text" (click)="institutioncost()">per College</a></li>
                </ul>
            </li>

            <li class="pull-right  ">
                <div class="btn-group ">
                    <button class="btn btn-sm btn-primary" (click)="Print()">Print</button>
                    <button class="btn btn-sm btn-primary dropdown-toggle">
                      <span class="oi oi-calendar"></span>
                      This week
                    </button>
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"></a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#"></a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>


    <section class="section">
        <div class="content">
            <div class="row">

                <div class="col-md-12">

                    <div class="card">
                      <!-- THIS SECTION ENABLES THE USER TO CHANGE THE TYPE OF CHART TO BE DISPLAYED -->
                        <div class="header">
                            <div class="btn-group chart-type" *ngIf="toggle">
                                <button class="btn btn-sm btn-primary " (click)="setChartType('Bar')"><span class="fa fa-bar-chart"></span> Bar Charts</button>
                                <button class="btn btn-sm btn-primary" (click)="setChartType('Line')"><span class="fa fa-line-chart"></span> Line Chart</button>
                                <button class="btn btn-sm btn-primary" (click)="setChartType('Pie')"><span class="	fa fa-pie-chart"></span> Pie Chart</button>
                                <hr>
                            </div>

                            <h3 class="category"></h3>
                        </div>
                        <!-- SECTION THAT DRAWS THE GRAPHS OR CHARTS -->
                        <div class="content">
                            <fusioncharts [id]="chart2" [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource">
                            </fusioncharts>

                            <div class="footer">

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </section>

</main>
