/*  CSS for setting up the style, color, position of buttons,
sections, charts, div and all other tags
*/

.analyze-head{
  position:relative;
  top:70px;
}
.section{
  position:relative;
  top:100px;
  left: 100px;
}
.btn-text{
  align-items: left;
  text-align: left;
  padding-left: 8px;
}
.chart-type{
  position: relative;
  left: 250px;
}
.drop{
  padding: 10px;
}
.drop-footer{
  padding-top: 5px;

}
