<div class="member-tab">
    <ul class="nav nav-pills ">
        <li class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMember" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          New Members
          <span class="caret"></span>
        </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMember">
                <li><a href="#">Student Members</a></li>
                <li><a href="#">Staff Members</a></li>
                <li><a href="#">Staff and Student Members</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <button class="btn btn-primary btn-sm dropdown dropdown-toggle" type="button" id="dropdownInst" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Institution
          <span class="caret"></span>
        </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownInst">
                <li><a href="" (click)="Search('Chancellor College')">Chancellor College </a></li>
                <li><a href="" (click)="Search('Polytechnic University')">Polytechnic University</a></li>
                <li><a href="" (click)="Search('College of Medicine')">College of Medicine</a></li>
                <li><a href="" (click)="Search('Kamuzu College of Nursing')">Kamuzu College of Nursing</a></li>
                <li><a href="" (click)="Search('Bunda College')">Bunda College</a></li>
            </ul>
        </li>
    </ul>
</div>

<br>
<div class="">
    <!--        <form class="form-list col-md-3" method="post" role="form" enctype="multipart/form-data">
            <label class="sr-only" for="searchBox.value"></label>
            <div class="input-group input-group-sm">
                <input #searchBox type="text" class="form-control" name="filter" [(ngModel)]="filter" aria-controls="DataTables_Table_0" (keyup)="onChange()" id="name" placeholder="search" id="search_content" aria-describedby="sizing-addonsearch">
                <div class="input-group-addon " id="sizing-addonsearch"> <i class=" fa fa-search"></i> </div>
            </div>
        </form>
        <p (onSearchChange)="search = $event"></p>-->
</div>
<div class="table-responsive table-member">

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table  table-striped row-border hover table-dark">
        <thead class="thead-dark table-bordered">
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Membership Number</th>
                <th scope="col">Member Name</th>
                <th scope="col">Cover</th>
                <th scope="col">Gender</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Institution</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            <tr class="row-table" *ngFor="let list of memberlist;  let i =index;">
                <td>{{ i+1 }}</td>
                <td>{{list.id }}</td>
                <td>{{list.name }} </td>
                <td>{{ list.cover }}</td>
                <td>{{list.gender }}</td>
                <td>{{list.DOB |date:'mediumDate'}}</td>
                <td>{{list.college }}</td>
                <td><a class="btn btn-sm btn-info check" (click)="View(list.membership_id)"> View</a></td>
            </tr>
        </tbody>
    </table>
</div>