.member-tab {
    position: absolute;
    top: -78px;
    left: 251px;
}

.table-member {
    position: absolute;
    top: -12px;
    /*-32*/
    left: -66px;
    width: 1050px;
}

.form-list {
    position: relative;
    left: 1060px;
    top: 21px;
}

.table-dark>th {
    background-color: #c6c8ca;
}

.thead-dark th {
    color: #212529;
    background-color: #b9bbbe;
    border-color: #32383e;
}

.class {
    line-height: 25px;
    list-style: georgian;
}

.memberlist {
    position: relative;
    left: 500px;
    top: 50px;
    font-family: serif;
}

.card {
    position: relative;
    top: 70px;
}

.row-table {
    cursor: pointer;
    cursor: hand;
}

.row-table:hover {
    color: #6d6a6a;
    background-color: #DDD;
    left: .1em;
    bottom: .1em;
}