<div class="table-responsive table-member">

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-dark ">
        <thead class="thead-dark table-bordered">
            <tr>
                <th scope="col">Name of member</th>
                <th scope="col">Gender</th>
                <th scope="col">Name of Institution</th>
                <th scope="col">Cover Type</th>
                <th scope="col">Status</th>
                <th scope="col">Annual Progress</th>
                <th scope="col"></th>


            </tr>
        </thead>
        <tbody>
            <tr class="row-table" *ngFor="let annual_memberlist of annuallimit_memberlist">
                <td>{{annual_memberlist.Name}}</td>
                <td>{{annual_memberlist.Gender}}</td>
                <td>{{annual_memberlist.Institution}}</td>
                <td>{{annual_memberlist.Cover}}</td>
                <td>{{annual_memberlist.Status}}</td>
                <td class="progress">

                    <div class="" *ngIf="annual_memberlist.Progress > 0 && annual_memberlist.Progress <30">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" [attr.aria-valuenow]="annual_memberlist.Progress" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;" [style.width]="annual_memberlist.Progress + '%'">
                            {{annual_memberlist.Progress}} %
                        </div>
                    </div>
                    <div *ngIf="annual_memberlist.Progress >= 30 && annual_memberlist.Progress < 60 " class="">
                        <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" [attr.aria-valuenow]="annual_memberlist.Progress" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;" [style.width]="(annual_memberlist.Progress/100)*100 + '%'">
                            {{annual_memberlist.Progress}} %
                        </div>
                    </div>
                    <div class="" *ngIf="60 <= annual_memberlist.Progress &&  annual_memberlist.Progress <95">
                        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" [attr.aria-valuenow]="annual_memberlist.Progress" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;" [style.width]="(annual_memberlist.Progress/100)*100 + '%'">
                            {{annual_memberlist.Progress}} %
                        </div>
                    </div>
                    <div class="" *ngIf="annual_memberlist.Progress >= 95 &&  annual_memberlist.Progress <= 100">
                        <div class="progress-bar progress-bar-danger progress-bar-striped  active" role="progressbar" [attr.aria-valuenow]="annual_memberlist.Progress" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;" [style.width]="(annual_memberlist.Progress/100)*100 + '%'">
                            {{annual_memberlist.Progress}} %
                        </div>
                    </div>

                </td>
                <td>
                    <span class="label label-default "><b>{{annual_memberlist.Progress}} %</b></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>