.table-member{
  position: relative;
  top: -32px;
  right:86px;
  width:1000px;
}
.row-table {
  cursor: pointer;
  cursor: hand;
}
.row-table:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
  bottom: .1em;
}
.table-dark > th {
  background-color: #c6c8ca;
}


.thead-dark th {
  color: #212529;
  background-color: #b9bbbe;
  border-color: #32383e;
}

/* Progress bar css */


.progress-bar {

  border-radius: 2px;

  display: block;
  text-indent: -9999px;
}
.progress-bar::-webkit-progress-value {
  background-color:
	   -webkit-linear-gradient(-45deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
