.analyze-head {
    position: relative;
    top: 70px;
}

.section {
    position: relative;
    top: 100px;
    left: 100px;
}

.form-pos {
    position: relative;
    top: 30px;
    left: 732px;
}

agm-map {
    height: 300px;
}

.btn-size {
    padding: 5px 13px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.btn-text {
    align-items: left;
    text-align: left;
    padding-left: 8px;
}