<main role="main" class=" col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="nav nav-tabs analyze-head">
        <ul class="nav nav-pills ">
            <li>
                <button class="btn btn-sm btn-primary " (click)="UnimedClinics()">
          <span class="glyphicon glyphicon-map-marker"></span>
          UNIMED CLINICS
        </button>
            </li>
            <li class="dropdown">
                <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-credit-card"></span>
          LOCATIONS <span class="caret"></span>
        </button>
                <ul class="dropdown-menu ">
                    <li><a class="btn btn-text" (click)="drawForZomba()">Zomba</a></li>
                    <li><a class="btn btn-text" (click)="drawForLilongwe()">Lilongwe</a></li>
                    <li><a class="btn btn-text" (click)="drawForBlantyre()">Blantyre</a></li>
                    <li><a class="btn btn-text " (click)="drawForMzumzu()">Mzuzu</a></li>

                </ul>
            </li>

            <li class="pull-right  ">
                <div class="btn-group ">
                    <button class="btn btn-sm btn-primary">Print</button>
                    <button class="btn btn-sm btn-primary">Export</button>
                </div>
                <button class="btn btn-sm btn-primary ">
          <span class="oi oi-calendar"></span>
          Activities
        </button>
            </li>
        </ul>
    </div>

    <section class="section">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-location">
                        <div class="content">
                            <div *ngIf="!display">
                                <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource">
                                </fusioncharts>
                            </div>
                            <div *ngIf="display">
                                <!-- this creates a google map on the page with the given lat/lng from -->
                                <!-- the component as the initial center of the map: -->
                                <agm-map [latitude]="lat" [longitude]="lng">
                                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                </agm-map>
                            </div>
                            <!--<div class="" style=" width :720px; height:460px;" (leafletMapReady)="onMapReady($event)" leaflet [leafletOptions]="options" [leafletLayersControl]="layersControl" [leafletLayer]="layers">
                            
                        </div>-->
                            <div class="footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>