<nav class="navbar navbar-dark navbar-fixed-top bg-primary ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a href="www.umima.mw"><img class="logo-img" src="assets\img\logo.png" alt=""></a>
            <a class="logo-name" href="www.umima.mw/unimed"><span >UNIMED</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="nav navbar-nav navbar-right nav-list">
                <a href="#" class=" btn btn-primary btn-sm"><span class="glyphicon glyphicon-search" title="notification" aria-hidden="false"></span> </a>
                <a href="#" class=" btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus" title="notification" aria-hidden="false"></span> </a>
                <a href="#" class=" btn btn-primary btn-sm"><span class="glyphicon glyphicon-bookmark" title="notification" aria-hidden="false"></span> </a>
                <a href="#" class=" btn btn-primary btn-sm"><span class="glyphicon glyphicon-bell" title="notification" aria-hidden="false"></span> </a>
                <a href="#" class=" btn btn-primary btn-sm"><span class="glyphicon glyphicon-cog" title="settings" aria-hidden="false"></span> </a>
            </div>
        </div>
    </div>
    <ul class="list-inline  list-link-nav">
        <li><a href="#" class="link-item ">Project</a></li>
        <li><a href="#" class="link-item">Task </a></li>
        <li>
            <a href="#" class="link-item"> </a>
        </li>
        <li>
            <a href="#" class="link-item"> </a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:white;"><span class="glyphicon glyphicon-option-horizontal" title="More" aria-hidden="false"></span> </a>
            <ul class="dropdown-menu " style="text-transform: capitalize; ">
                <li>
                    <a href="#"> <b> Purchase</b></a>
                </li>
                <li><a href="#"><b>Import/ Export</b></a></li>
                <li><a href="#"><b>Budgets</b></a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header"><span class="oi oi-cog" title="settings" aria-hidden="false"></span><b>Menu Settings</b> </li>
            </ul>
        </li>
    </ul>
</nav>


<!--sidebar-->
<div class="row">
    <nav class="col-sm-3 col-md-2  d-md-block bg-dark sidebar">
        <div class="sidebar-sticky">

            <br><br><br>
            <ul class="nav nav-sidebar flex-column">
                <li class="nav-item">
                    <a class="nav-link navbar-list btn" routerLink="/dashboard" routerLinkActive="active">
                        <span class="fa fa-dashboard pull-left"></span> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="navbar-list btn" routerLink="/analyze" routerLinkActive="active">
                        <span class="fa fa-bar-chart pull-left"></span> Analyse</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-list btn" routerLink="/monitor" routerLinkActive="active">
                        <span class="fa fa-desktop pull-left"></span> Monitor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-list btn " routerLink="/map" routerLinkActive="active">
                        <span class="pull-left glyphicon glyphicon-map-marker"></span> Maps
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-list btn " routerLink="/report" routerLinkActive="active">
                        <span class="pull-left glyphicon glyphicon-stats"></span> Reports
                    </a>
                </li>
            </ul>
        </div>
    </nav>

</div>

<div class="container-fluid">
    <div class="row">
        <!--contents-->
        <router-outlet></router-outlet>
    </div>
</div>