.logo-img{
position:absolute;
left:80px;
top:5px;
}
.logo-name{
  color:white;
  position: relative;
  left: 150px;
  top: 15px;
  font-size: 20px;
  font-family:serif;
  font-weight: bold;
}
.logo-name:hover{
  text-decoration: none;
  color:white;
}
.nav-list{
  position:relative;
  right:10px;
  top:15px;
}
.link-item{
  color:white;
}
.link-item:hover{
  text-decoration: none;
  color:white;
}
.list-link-nav{

  position:relative;
  left:350px;
  top:-10px;
  list-style: none;
  text-transform: uppercase;
  text-decoration-line: none;
}
.navbar-list{
  font-weight: bold;
  color: #636b6f;

}
.side-color{

}
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
