<main role="menubar" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="col-md-14 card-repo ">
        <div class="panel list-group ">
            <!-- Section for display the report head panel -->
            <div class="list-group-item card">
                <b> Reports</b>
                <!-- a group of buttons that handles routing for report creating, set a report as favourite or high priority -->
                <div class="btn-group">
                    <a routerLink="./report" class="btn btn-default btn-sm btn-small"> <span class="glyphicon glyphicon-th-large" title="view all available reports"></span> </a>
                    <a href="#" class="btn btn-default btn-sm"><span class="fa fa-star-o" title="View only high priority reports"></span> </a>
                </div>
                <a routerLink="../generate-report" routerLinkActive="active" class="btn btn-default btn-sm btn-small">Create a new Report  </a>
                <ul class="list-inline pull-right" style=" padding-top: -10px;">
                    <li>
                        <a class="btn btn-sm" href="#"> <span class="fa fa-calendar"></span> Calendar</a>
                    </li>
                    <li> <a class="btn btn-sm" href="#" style="color:#4d5356;"><span class="glyphicon glyphicon-cog"></span> <b>settings</b></a> </li>
                    <li> <a class="btn btn-sm" href="#" style="color:#4d5356;"><span class="glyphicon glyphicon-question-sign"></span> <b>Help</b></a> </li>
                </ul>
            </div>

            <div class=" list-group-item table-responsive head-border">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-dark table-p">
                    <thead class="thead-dark panel panel-default">
                        <tr>
                            <th scope="col" class="list-border"> <input class="pull-left" type="checkbox" name="" value=""> Report Category</th>
                            <th scope="col" class="list-border">Title</th>
                            <th scope="col" class="list-border">Description</th>
                            <th scope="col" class="list-border">Cost</th>
                            <th scope="col" class="list-border">Scheduled</th>
                            <th scope="col" class="list-border">Available</th>
                            <th scope="col" class="">Classification</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let listitem of reportlist" class="row-table">
                            <td scope="col" class="list-border"> <input class="pull-left" type="checkbox" name="" value="">
                                <a class="report-icon" href="#"><span class="fa fa-star-o "></span></a>
                                <a class="report-icon" href="#"><span class="fa fa-bar-chart " title="Design Report"></span></a> @{{listitem.category }}</td>
                            <td scope="col" class="list-bord"> {{listitem.title }}</td>
                            <td scope="col" class="list-bord">{{ listitem.description }}</td>
                            <td scope="col" class="list-bord">{{ listitem.cost }}</td>
                            <td scope="col" class="list-bord">{{ listitem.scheduled }}</td>
                            <td scope="col" class="list-bord"><input class="pull-left" type="checkbox" name="" value=""></td>
                            <td scope="col" class="">{{ listitem.classification }}</td>

                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</main>
