<div *ngIf="subscriber$ | async as subscriber">
  <div class="col-md-12">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card  panel-primary">
              <div class="header panel-heading">
                <h4 class="title " style="color:white;">SUBSCRIBERS</h4>
              </div>
              <div class="content panel-body">
                <form action="#" method="post">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label>Member Name</label>
                        <input type="text" class="form-control"  placeholder="Member Name" value="{{ subscriber.name }}" readonly="readonly">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Gender</label>
                        <input type="text" class="form-control" placeholder="Gender" value="{{ subscriber.gender }}" readonly="readonly">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Institution</label>
                        <input type="email" class="form-control" placeholder="College Name" value="{{ subscriber.college }}" readonly="readonly">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Cover</label>
                        <input type="text" class="form-control" placeholder="Cover Type" value="{{subscriber.cover }}" readonly="readonly">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Membership No</label>
                        <input type="text" class="form-control" placeholder="Membership Number" value="{{subscriber.id }}">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" disabled>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Date of Birth</label>
                        <input type="text" class="form-control" placeholder="Date Of Birth" value="{{subscriber.DOB |date:'fullDate' }}" readonly="readonly">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Date Joined</label>
                        <input type="text" class="form-control" placeholder="Date Joined" value="{{subscriber.Date_Joined|date:'fullDate'}}" readonly="readonly">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Current Status</label>
                        <input type="text" class="form-control" placeholder="Status" value="{{subscriber.Status}}" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <hr>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <hr>
                      More About Contract
                      <p class="btn  pull-right" type="button" data-toggle="collapse" data-target="#collapseExpand" aria-expanded="false" aria-controls="collapseExpand">
                        <span class="glyphicon glyphicon-chevron-down"> </span>
                      </p>
                      <div class="collapse" id="collapseExpand">
                        <div class="well">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group">
                                <label>Date of Subscription</label>
                                <h4 class="badge "> {{subscriber.DateOfSubscription |date:'fullDate'}} </h4>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label>Expiration Date</label>
                                <h4 class="badge ">{{subscriber.ExpirationDate |date:'fullDate'}}</h4>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label>Contract Duration</label>
                                <h4 class="badge ">{{subscriber.Contract_Duration}}</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <hr>
                      SERVICES ACQUIRED
                      <p class="btn  pull-right" type="button" data-toggle="collapse" data-target="#collapseExpand1" aria-expanded="false" aria-controls="collapseExpand1">
                        <span class="glyphicon glyphicon-chevron-down"> </span>
                      </p>
                      <div class="collapse" id="collapseExpand1">
                        <ul class="well">
                          <li class="form-group">
                            <label>Service Accessed</label>
                            <h4 class="badge "> {{subscriber.More.service}} </h4>
                          </li>
                          <li class="form-group">
                            <label>Service Accessed</label>
                            <h4 class="badge "> {{subscriber.More.service}} </h4>
                          </li>
                          <li class="form-group">
                            <label>Service Accessed</label>
                            <h4 class="badge "> {{subscriber.More.service}} </h4>
                          </li>
                          <li class="form-group">
                            <label>Service Accessed</label>
                            <h4 class="badge "> {{subscriber.More.service}} </h4>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-user">
              <div class="image">

              </div>
              <div class="content">
                <div class="author">
                  <a href="#">
                    <img class="avatar border-gray" src="" alt="..."/>

                    <h4 class="title">{{subscriber.name}}<br />
                      <small>{{subscriber.name}}</small>
                    </h4>
                  </a>
                </div>
                <p class="description text-center"> <b>College :</b> {{subscriber.college}} <br>
                  <br>
                  {{subscriber.Cover}}
                </p>
                <p align="center"> <a  href="#" class="btn btn-primary" role="button">Change </a></p>
              </div>
              <hr>
              <div class="text-center">

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
