<main role="menubar" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="col-md-14 cardi">
        <div class="panel panel-default panel-dash">
            <h4><b class="dashboard-text"> Dashboard</b>
                <a href="#"> <span class="oi oi-pulse"></span> </a>
                <ul class="list-inline pull-right dashboard-header">
                    <li><a class="btn btn-sm dashboard-links" href="#"><span class="glyphicon glyphicon-plus"></span> <b>Add to dashboard</b></a></li>
                    <li> <a class="btn btn-sm dashboard-links" href="#"><i class="fa fa-cog fa-spin"></i> <b>settings</b></a> </li>
                    <li> <a class="btn btn-sm dashboard-links" href="#"><span class="glyphicon glyphicon-question-sign"></span> <b>Help</b></a> </li>
                </ul>
            </h4>
        </div>
        <div class="col-md-6 first-dashboard-p">
            <div class="panel panel-default">
                <div class="panel-heading head">
                    <small class="title1"> <b>{{title_m}}</b></small>
                    <small class="small-p pull-left"> <a href="#"><span class="fa fa-times cogi"></span> </a> </small>
                    <small class="small-p pull-right">

            <!--When the cog icon is clicked that means the modal where you can edit the dashboard name plus
            the priority must popup the after adding you can the save or close
            +--------------+
            |Modal Name   |
            --------------
            | title:______|
            | Priority:___|
            +--------------+
          -->
          <a data-toggle="modal" href="#myCogModal" ><span   class="glyphicon glyphicon-th-large cogi "></span></a>
          <div class="modal fade " id="myCogModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5  id="exampleSettingLabel">CONFIGURE DASHBOARD</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="sizing-addon3">Title</span>
                    <input type="text" class="form-control" placeholder="Title" aria-describedby="sizing-addon3">
                  </div>
                  <div class="input-group input-group-sm">
                    <span class="">
                      <input type="checkbox" aria-label="check">
                      <label for="check">Remember these details</label>
                    </span>
                  </div>
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="sizing-addon">Priority</span>
                    <select class="form-control" name="" aria-describedby="sizing-addon">
                      <option value="">High</option>
                      <option value="">Medium</option>
                      <option value="">Low</option>
                    </select>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary btn-sm">Save</button>
                </div>

              </div>
            </div>
          </div>
          <a href="#" class="dropdown dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <span  class="glyphicon glyphicon-cog cogi"></span></a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
              <form class="" #formSetting="ngForm" (ngSubmit)="create(formSetting.value)">
                <div class="input-group input-group-sm dropdown-item">
                    <span class="input-group-addon" id="sizing-addon3">Title</span>
                    <input type="text" class="form-control" placeholder="Title" aria-describedby="sizing-addon3" name="title_m" [(ngModel)]="title_m" required>
                </div>
                <div class="input-group input-group-sm dropdown-item">
                    <span class="input-group-addon" id="sizing-addon">Height</span>
                    <input type="number" class="form-control" placeholder="height" aria-describedby="sizing-addon" name="height_m" [(ngModel)]="height_m" required>
                </div>
                <div class="input-group input-group-sm dropdown-item">
                    <span class="input-group-addon" id="sizing-addonC"> width</span>
                    <input type="number" class="form-control" placeholder="weight" aria-describedby="sizing-addon" name="width_m" [(ngModel)]="width_m" required>
                </div>
                <div class="btn-group drop-footer pull-right dropdown-divider">
                    <button type="reset" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                    <button type="submit" [disabled]="!formSetting.form.valid" class="btn btn-primary btn-sm">OK</button>
                </div>
          </form>
        </li>
          </ul>

        </small>

                </div>
                <div class="panel-body">
                    <fusioncharts [id]="chart2" [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource">
                    </fusioncharts>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default dash">
                <div class="panel-heading">
                    <small class="panel-issues"> <b>{{title_c}}</b></small>
                    <small class="small-p pull-left"> <a href="#"><span class="fa fa-times cogi"></span> </a> </small>
                    <small class="small-p pull-right">
          <a (click)="toggle()" class="btn btn-sm pos_b">
            <span class="glyphicon glyphicon-plus cogi" title="Add Concern" ></span>
                    </a>
                    <a class="dropdown dropdown-toggle btn pos_btn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span  class="fa fa-cog cogi"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <form class="" #formSetting="ngForm" (ngSubmit)="create(formSetting.value)">
                                <div class="input-group input-group-sm dropdown-item">
                                    <span class="input-group-addon" id="sizing-addon3">Title</span>
                                    <input type="text" class="form-control" placeholder="Title" aria-describedby="sizing-addon3" name="title_c" [(ngModel)]="title_c" required>
                                </div>
                                <div class="input-group input-group-sm dropdown-item">
                                    <span class="input-group-addon" id="sizing-addon">Height</span>
                                    <input type="number" class="form-control" placeholder="height" aria-describedby="sizing-addon" name="height_c" [(ngModel)]="height_c" required>
                                </div>
                                <div class="input-group input-group-sm dropdown-item">
                                    <span class="input-group-addon" id="sizing-addonC"> width</span>
                                    <input type="number" class="form-control" placeholder="weight" aria-describedby="sizing-addon" name="width_c" [(ngModel)]="width_c" required>
                                </div>
                                <button type="reset" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                <div class="btn-group drop-footer pull-right dropdown-divider">
                                    <button type="submit" [disabled]="!formSetting.form.valid" class="btn btn-primary btn-sm">OK</button>
                                </div>
                            </form>
                        </li>
                    </ul>
                    </small>
                </div>
                <ol class="panel-body ">
                    <li class="panel-body-issues"><a href="#" class="text-danger"> Three </a> members from chancellor college are about to hit their annual limit.
                        <p class="text-info"> They need help </p>
                        <small class="small-pos pull-right"> <a href="#" class=""><span class="glyphicon glyphicon-trash text-danger " title="delete"></span> </a> </small>






                    </li>
                    <hr>
                    <li class="panel-body-issues"><b class="text-danger"> Malaria </b> cases are common for students living in Chikanda.
                        <p class="text-success"> the guys is great </p>
                        <small class="small-pos pull-right"> <a href="#" class=""><span class="glyphicon glyphicon-trash text-danger" title="delete"></span> </a> </small>
                    </li>
                    <hr>
                    <li class="panel-body-issues" class="text-muted"> Memeber <a href="#"><i > David Chilawo </i></a> is approaching annual limit
                        <p>Do something </p>
                        <small class="small-pos pull-right"> <a href="#" class=""><span class="glyphicon glyphicon-trash  text-danger" title="delete"></span> </a> </small>

                    </li>
                    <hr>

                    <div class="" *ngIf="expression">
                        <form class="form-inline form-pad" #formAddConcern="ngForm" (ngSubmit)="addConcern(formAddConcern.value)">
                            <div class="form-group">
                                <textarea class="form-control input-sm pull-left" rows="1" cols="30.5" placeholder="type concern..." name="concern" [(ngModel)]="concern" required></textarea>
                            </div>
                            <button type="submit" class="pull-right btn btn-primary btn-sm">Add</button>
                        </form>
                    </div>


                </ol>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default end-panel">
                <div class="panel-heading">
                    <small class="small-p pull-left"> <a href="#"><span class="fa fa-times cogi"></span> </a> </small>
                    <small class="panel-issues"> <b>{{title_this}}</b></small>
                    <small class="small-p pull-right">
          <a href="#" class="dropdown dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <span style="color:#858c90;" class="glyphicon glyphicon-th-large"></span></a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
              <form class="" #formSetting="ngForm" (ngSubmit)="create(formSetting.value)">
                  <div class="input-group input-group-sm dropdown-item">
                      <span class="input-group-addon" id="sizing-addon3">Title</span>
                      <input type="text" class="form-control" placeholder="Title" aria-describedby="sizing-addon3" name="title_this" [(ngModel)]="title_this" required>
                  </div>
                  <div class="input-group input-group-sm dropdown-item">
                      <span class="input-group-addon" id="sizing-addon">Height</span>
                      <input type="number" class="form-control" placeholder="height" aria-describedby="sizing-addon" name="height_this" [(ngModel)]="height_this" required>
                  </div>
                  <div class="input-group input-group-sm dropdown-item">
                      <span class="input-group-addon" id="sizing-addonC"> width</span>
                      <input type="number" class="form-control" placeholder="weight" aria-describedby="sizing-addon" name="width_this" [(ngModel)]="width_this" required>
                  </div>
                  <div class="btn-group drop-footer pull-right dropdown-divider">
                      <button type="reset" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                      <button type="submit" [disabled]="!formSetting.form.valid" class="btn btn-primary btn-sm">OK</button>
                  </div>
            </form>
          </li>
          </ul>
          <a href="#"><span  class="glyphicon glyphicon-cog cogi"></span></a>
        </small>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default trend-panel">
                <div class="panel-heading">
                    <small class="trend-heading "> <b >{{title}}</b> </small>
                    <small class="small-p pull-left"> <a href="#"><span class="fa fa-times cogi"></span> </a> </small>
                    <small class="small-p pull-right">
          <a href="#"> <span class="glyphicon glyphicon-th-large cogi"></span></a>
          <a href="#" class="dropdown dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span  class="glyphicon glyphicon-cog cogi"></span></a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li class="dropdown-item drop">
              <form class="" #formSetting="ngForm" (ngSubmit)="create(formSetting.value)">
                    <div class="input-group input-group-sm dropdown-item">
                        <span class="input-group-addon" id="sizing-addon3">Title</span>
                        <input type="text" class="form-control" placeholder="Title" aria-describedby="sizing-addon3" name="title" [(ngModel)]="title" required>
                    </div>
                    <div class="input-group input-group-sm dropdown-item">
                        <span class="input-group-addon" id="sizing-addon">Height</span>
                        <input type="number" class="form-control" placeholder="height" aria-describedby="sizing-addon" name="height" [(ngModel)]="height" required>
                    </div>
                    <div class="input-group input-group-sm dropdown-item">
                        <span class="input-group-addon" id="sizing-addonC"> width</span>
                        <input type="number" class="form-control" placeholder="weight" aria-describedby="sizing-addon" name="width" [(ngModel)]="width" required>
                    </div>
                    <div class="btn-group drop-footer pull-right dropdown-divider">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                        <button type="submit" [disabled]="!formSetting.form.valid" class="btn btn-primary btn-sm">OK</button>
                    </div>
              </form>
            </li>
          </ul>
        </small>
                </div>
                <div class="panel-body">
                    <app-dash2></app-dash2>
                </div>
            </div>
        </div>
    </div>
</main>