.cardi {
    position: relative;
    top: 90px;
}


/**dashboard heading**/

.dashboard-text {
    padding-left: 20px;
}

.dashboard-header {
    padding-top: -10px;
}

.dashboard-links {
    color: #4d5356;
}

.cogi {
    color: #858c90;
}


/*  */

.pos_b {
    position: relative;
    top: -10px;
    left: 32px;
}

.pos_btn {
    position: relative;
    top: -10px;
    left: 15px;
}

.form-pad {
    padding: 1px;
    position: relative;
    top: -10px;
}

.small-p {
    position: relative;
    top: -7px;
}

.small-pos {
    position: relative;
    top: -57px;
}

.head {
    height: 3px;
}

.title1 {
    position: relative;
    padding-left: 30px;
    top: -9px;
}

.small-p:hover {
    display: block;
}

.first-dashboard-p {
    right: 15px;
}

.panel-dash {
    top: 6px;
}

.trend-panel {
    position: relative;
    left: -4px;
}

.trend-heading {
    padding-left: 30px;
    position: relative;
    top: -9px;
    left: 400px;
}

.panel-heading {
    height: 3px;
}

.end-panel {
    position: relative;
    right: -15px;
    height: 400px;
}

.panel-issues {
    padding-left: 60px;
    position: relative;
    top: -9px;
}

.dash {
    height: 400px;
    width: 300px;
    position: relative;
    left: -30px;
}

.drop {
    padding: 10px;
}

.drop-footer {
    padding-top: 5px;
}