<main role="menubar" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="col-md-14 card-repo " *ngIf="reports$ | async as report">
        <div class="panel list-group ">
              <!-- Section for display the report head panel -->
            <div class="list-group-item card">
                <b> Reports</b>
                <!-- a group of buttons that handles routing for report creating, set a report as favourite or high priority -->
                <div class="btn-group">
                    <a (click)="viewAll()" class="btn btn-default btn-sm btn-small"> <span class="glyphicon glyphicon-th-large" title="view all available reports"></span> </a>
                    <a href="#" class="btn btn-default btn-sm"><span class="fa fa-star-o" title="View only favourite reports"></span> </a>
                      <a (click)="editReport()" class="btn btn-default btn-sm btn-small"><span class="fa fa-pencil" title="Edit"></span>  </a>
                </div>

                <ul class="list-inline pull-right" style=" padding-top: -10px;">
                    <li>
                        <a class="btn btn-sm" href="#"> <span class="fa fa-calendar"></span> Calendar</a>
                    </li>
                    <li> <a class="btn btn-sm" href="#" style="color:#4d5356;"><span class="glyphicon glyphicon-cog"></span> <b>settings</b></a> </li>
                    <li> <a class="btn btn-sm" href="#" style="color:#4d5356;"><span class="glyphicon glyphicon-question-sign"></span> <b>Help</b></a> </li>
                </ul>
            </div>
            <!--contents-->
            <section class="section col-md-10">
                <div class="content">
                    <div class="row">
                        <div class="content panel-body">
                          <!--Display the form if the edit button is clicked  -->
                            <div class="" *ngIf="toggle">
                                <form #formReport="ngForm" (ngSubmit)="save(formReport.value)">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Report Category</label>
                                                <input type="text" class="form-control" placeholder="Report Category" value="{{report.category}}" name="category" required>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Date Created</label>
                                                <input type="text" class="form-control" name="date" value="{{report.date_created|date:'fullDate'}}" disabled="">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="schedule">Scheduled</label>
                                                <select type="text" class="form-control" placeholder="Report Scheduled" name="schedule" value="{{report.scheduled}}" required>
                                                    <option value="STANDARD">STANDARD</option>
                                                    <option value="PREMIUM">PREMIUM</option>
                                                    <option value="CLASSIC">CLASSIC</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Report Title</label>
                                                <input type="text" class="form-control" placeholder="Report Name" name="name" value="{{report.name}}" required>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Classification</label>
                                                <input type="text" class="form-control" placeholder="Report Classification" name="classification" value="{{report.classification}}" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Report Description</label>
                                                <textarea class="form-control" placeholder="add report content here..." cols="80" rows="8" name="description" value="{{report.description}}" required></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="">
                                        <button type="submit" class="btn btn-primary btn-fill pull-right" [disabled]="!formReport.form.valid">Save </button>

                                    </div>


                                    <div class="clearfix"></div>
                                </form>
                            </div>

                            <div class="panel" *ngIf="!toggle">

                                <div class="report-post">
                                  <h2 class="report-post-title">{{report.title}}</h2>
                                  <p class="report-post-meta">{{report.date_created| date:'fullDate'}}<a href="#">{{report.generated_by}}</a></p>
                                  <p>{{report.scheduled}}  -  {{report.category}}</p>
                                  <p>{{report.classification}}</p>
                                  <p>{{report.description}}</p>

                                </div><!-- /.report-post -->

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
