.card-repo {
    position: relative;
    top: 90px;
}

.list-border {
    border-right: 1px solid;
    padding: 5px;
    border-color: #ddd;
    text-align: center;
}

.list-bord {
    border-right: 1px solid;
    padding: 20px;
    border-color: #ddd;
}

.head-border {
    border-top: 1px solid;
    border-color: #ddd;
}

.table-p {
    height: 50px;
    width: 1520px;
    position: relative;
    left: -15px;
    top: -12px;
}

.report-icon {
    color: #a5a2a2;
}

.panel-body-issues {
    padding-left: 20px;
}

.section {
    position: relative;
    top: 20px;
    left: 20px;
}

/*
 * report posts
 */

.report-post {
  margin-bottom: 60px;
}
.report-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.report-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.report-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.report-footer p:last-child {
  margin-bottom: 0;
}
